@media (min-width: 1400px) {
  .login .container {
    height: calc(100vh - 100px);
  }
}
@media (max-width: 1400px) {
  header .weather-body .today-weather {
    border-radius: 0;
  }
  .day-after-tomorrow {
    border-radius: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .today-degree h2 {
    font-size: 4rem;
  }
}
@media (max-width: 991.98px) {
  .navbar-toggler {
    border-color: var(--main-color);
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--main-color);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-collapse {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  footer ul {
    margin-top: 30px;
  }
  .contact-us {
    margin-top: 30px;
  }
}
